.card {
  position: relative;
  background-color: var(--mantine-color-body);
}

.img {
  position: relative;
}

.image {
  height: 30vh;
  transition: transform 0.6s ease;
}

.image:hover {
  transform: scale(1.05);
}

.playIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  pointer-events: none;
  opacity: 0;
  transform: translate(-50%, -50%);
}

.img:hover .playIcon {
  opacity: 1;
}

.img:hover .image {
  filter: brightness(60%);
}

.rating {
  position: absolute;
  top: var(--mantine-spacing-xs);
  right: 12px;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.2); /* Semi-transparent background */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
}

.title {
  display: block;
  /* font-family: Outfit, var(--mantine-font-family); */
  margin-top: var(--mantine-spacing-md);
  margin-bottom: 5px;
  color: white;
}

.action {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-5)
  );

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-1),
      var(--mantine-color-dark-6)
    );
  }
}

.footer {
  margin-top: var(--mantine-spacing-md);
}
