.header {
  height: 56px;
  background-color: rgba(32, 32, 32, 0.7); /* slightly transparent */
  backdrop-filter: blur(10px); /* blur behind it */
  -webkit-backdrop-filter: blur(10px); /* for Safari */
  position: sticky;
  top: 0;
  z-index: 99;
  overflow: hidden;
}

.leftGroup {
  margin-left: 3rem;
}

.rightGroup {
  margin-right: 3rem;
}

.inner {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: var(--mantine-radius-md);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }

  @media (max-width: 61em) {
    padding: 1rem;
  }

  &[data-active] {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
    color: var(--mantine-color-white);
  }
}
